@model IEnumerable<ProyectoEasyTicket.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Venta de Ticket</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugar)
            </th>
            <th>
                Butaca o Sección
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendido)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (item.Vendido.Equals(false))
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Evento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lugar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ButacaSeccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vendido)
                    </td>

                    <td>
                        <a asp-action="Comprar" asp-route-id="@item.TicketID">Comprar</a> |
                        <a asp-action="ConfirmarClave" asp-route-id="@item.TicketID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TicketID">Detalles</a> |
                        <a asp-action="ConfirmarClave2" asp-route-id="@item.TicketID">Delete</a>
                    </td>
                </tr>
            }
        }

        @foreach (var item1 in Model)
        {


            if (item1.Vendido.Equals(true))
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item1.Evento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item1.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item1.Lugar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item1.ButacaSeccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item1.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item1.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item1.Vendido)
                    </td>

                    <td>


                        <a asp-action="Details" asp-route-id="@item1.TicketID">Detalles</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

